/__pycache__/*
/layouts/__pycache__/*
/histograms/__pycache__/*
/FluxTube/__pycache__/*
/FluxTube/modelling/__pycache__/*
/FluxTube/maps/__pycache__/*
/FluxTube/profiles/__pycache__/*

/correlations/__pycache__/*
/time_heights/__pycache__/*
/timeseries/__pycache__/*
/climatologies/__pycache__/*
/averages/__pycache__/*
/mapping/__pycache__/*
/profiles/__pycache__/*
/distributions/__pycache__/*
/ROTI_gammas/__pycache__/*
/wavelets/__pycache__/*
/PlasmaBubbles/__pycache__/*
/occurrengram/__pycache__/*
/ionosonde/__pycache__/*
/ionosonde/ionogram/__pycache__/*

/bars/__pycache__/*